# Android Studio / IntelliJ
.idea/
*.iml

# Gradle
.gradle/
**/.gradle/

# Archivos locales
local.properties

# Archivos generados
**/build/
**/captures/

# Native build
.externalNativeBuild/
.cxx/

# macOS
.DS_Store